* /* padding and border are included in total width and height of elements */
{
    box-sizing: border-box;
}

body /* default values */
{
  background-color: black;
  font-family: sans-serif;
  font-size: 14px;
  color: lightgrey;
  margin: 0px;
  padding: 0px;
}

/* default styles are for phone-sized screens; layout is responsive: */
@media only screen and (min-width: 1500px) /* tv, projector, etc */
{
  p
  {
    font-size: 20px;
  }
}

/****************************** Header Styles *********************************/

div#header
{
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  cursor: pointer;
}

h1.title
{
  font-size: 35px;
  color: white;
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

h2.subtitle
{
  font-size: 15px;
  color: slategrey;
  font-family: cursive;
  padding: 0px;
  margin: 0px;
}

img#logo
{
  width: 100px;
  padding-top: 10px;
}

/* default styles are for phone-sized screens; layout is responsive: */
@media only screen and (min-width: 600px) /* bigger than a phone */
{
  h1.title
  {
    font-size: 50px;
  }
  p.subtitle
  {
    font-size: 20px;
  }
  img#logo
  {
    width: 110px;
  }
}

/******************************** Navigation Bar ******************************/

div#navBar
{
  background-color: rgba(112, 128, 144, 0.5);
  width: 100%;
  text-align: center;
}

div.nav /*button*/
{
  background: slategrey; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(slategrey, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(slategrey, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(slategrey, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(slategrey, white); /* Standard syntax */
  color: black;
  font-family: sans-serif;
  font-size: 12px;
  padding: 5px;
  width: 27%;
  max-width: 150px;
  min-width: 80px;
  margin: 5px;
  display: inline-block;
}

div.navActive
{
  background: yellow; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(yellow, orange); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(yellow, orange); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(yellow, orange); /* For Firefox 3.6 to 15 */
  background: linear-gradient(yellow, orange, red); /* Standard syntax */
  color: black;
  font-family: sans-serif;
  font-size: 12px;
  padding: 5px;
  width: 27%;
  max-width: 150px;
  min-width: 80px;
  margin: 5px;
  display: inline-block;
}

@media only screen and (min-width: 1500px) /* tv, projector, etc */
{
  div.nav
  {
    font-size: 20px;
    max-width: 300;
    min-width: 160;
  }

  div.navActive
  {
    font-size: 20px;
    max-width: 300;
    min-width: 160;
  }
}

/********************************** Content ***********************************/

div.content
{
  background: rgba(112, 128, 144, 0.5); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(112, 128, 144, 0.5), black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(112, 128, 144, 0.5), black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(112, 128, 144, 0.5), black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(112, 128, 144, 0.5), black); /* Standard syntax */
  padding: 20px;
  padding-top: 5px;
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 14px;
  color: lightsteelblue;
}

h1
{
  color: orange;
}

h2
{
  margin: 0px;
  padding-bottom: 10px;
  font-family: sans-serif;
  font-style: oblique;
  font-size: 25px;
  color: darkcyan;
  text-shadow: 1px 1px black;
}

div.login
{
  width: 100%;
  float: left;
  margin-top: 20px;
  text-align: center;
}

p.error
{
  font-style: oblique;
  color: orange;
}

input[type=text]
{
    background-color: white;
    border: rgba(112, 128, 144, 0.5) 3px solid;
}

/* Thanks to http://stackoverflow.com/questions/2920306/google-chrome-form-autofill-and-its-yellow-background for this one: */
input:-webkit-autofill
{
  /* covers up the ugly yellow that chrome wants to change it to after using their autofil */
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

@media only screen and (min-width: 500px) /* bigger than a phone */
{
  div.login
  {
    margin-top: 50px;
  }
}

@media only screen and (min-width: 900px) /* full-screen */
{
  div.content
  {
    padding-left: 100px;
    padding-right: 100px;
  }
}

/******************************** Team Bios ***********************************/

div.text
{
  display: inline-block;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

div.column
{
  width: 100%;
}

div.frame
{
  background: rgba(112, 128, 144, 0.5);
  padding: 20px;
  margin-bottom: 20px;
}

div.threeCols
{
  width: 100%;
}

img.device
{
  width: 100%;
  max-width: 250px;
}

img.profilePic
{
  width: 250px;
  height: 250px;
}

ul
{
  padding-left: 20px;
}

li
{
  padding-bottom: 5px;
}

@media only screen and (min-width: 600px) /* tablet-sized */
{
  div.column
  {
    width: 50%;
    float: left;
  }
  div.frame
  {
    width: 95%;
  }
  div.threeCols
  {
    width: 33%;
    float: left;
    padding-right: 40px;
  }
}

/******************************* Pet Tracker **********************************/
div#map
{
  width: 100%;
  text-align: center;
}

iframe#map
{
  max-width: 100%;
}

div#trackerData
{
  width: 100%;
  background: rgba(112, 128, 144, 0.5);
  padding: 20px;
  margin-top: 20px;
}

@media only screen and (min-width: 700px) /* wider screen layout */
{
  div#map
  {
    width: 40%;
    float: left;
    text-align: left;
  }

  div#trackerData
  {
    width: 55%;
    float: left;
    margin-top: 0px;
    margin-left: 20px;
    min-height: 300px;
  }
}

/******************************* Bird Feeder **********************************/

div#hopperControls
{
  background: rgba(112, 128, 144, 0.5);
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  width: 100%;
}

div#feederBox
{
  text-align: center;
  width: 100%;
}

svg#feederPic
{
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 100%;
}

g#seedsFull
{
  visibility: hidden;
}

g#seeds1Q
{
  visibility: hidden;
}

g#seeds2Q
{
  visibility: hidden;
}

g#seeds3Q
{
  visibility: hidden;
}

g#fall1
{
  visibility: hidden;
}

g#fall2
{
  visibility: hidden;
}

button#feedBird
{
  background: slategrey; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(slategrey, rgba(0,0,0,0), black, rgba(0,0,0,0), slategrey); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(slategrey, rgba(0,0,0,0), black, rgba(0,0,0,0), slategrey); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(slategrey, rgba(0,0,0,0), black, rgba(0,0,0,0), slategrey); /* For Firefox 3.6 to 15 */
  background: linear-gradient(slategrey, rgba(0,0,0,0), black, rgba(0,0,0,0), slategrey); /* Standard syntax */
  width: 250px;
  max-width: 100%;
  height: 45px;
  border: none;
  border-radius: 12px;
  padding: 5px 15px;
  font-size: 14px;
  color: lightsteelblue;
  font-family: monospace;
  box-shadow: 2px 2px black;
  outline: none;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

@media only screen and (min-width: 500px) /* wider screen layout */
{
  div#hopperControls
  {
    width: 45%;
    float: left;
    margin-top: 20px;
  }
  div#feederBox
  {
    width: 50%;
    float: left;
  }
}

/************************************ Lamp ************************************/

div#lightSwitches
{
  width: 100%;
  float: left;
}

button.lightSwitch
{
  background: slategrey; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(slategrey, rgba(0,0,0,0), black, rgba(0,0,0,0), slategrey); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(slategrey, rgba(0,0,0,0), black, rgba(0,0,0,0), slategrey); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(slategrey, rgba(0,0,0,0), black, rgba(0,0,0,0), slategrey); /* For Firefox 3.6 to 15 */
  background: linear-gradient(slategrey, rgba(0,0,0,0), black, rgba(0,0,0,0), slategrey); /* Standard syntax */
  width: 100%;
  float: left;
  height: 45px;
  border: none;
  border-radius: 12px;
  padding: 5px 15px;
  font-size: 14px;
  color: lightsteelblue;
  font-family: monospace;
  box-shadow: 2px 2px black;
  outline: none;
  margin-bottom: 10px;
}

button.activeSwitch
{
  background: orange; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(red, orange, red); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(red, orange, red); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(red, orange, red); /* For Firefox 3.6 to 15 */
  background: linear-gradient(red, orange, red); /* Standard syntax */
  width: 100%;
  float: left;
  height: 45px;
  border: none;
  border-radius: 12px;
  padding: 5px 15px;
  font-size: 14px;
  color: black;
  font-weight: bold;
  font-family: monospace;
  box-shadow: 2px 2px black;
  outline: none; /* so no outline shows up */
  margin-bottom: 10px;
}

button.deadSwitch
{
  background: slategrey; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(slategrey, rgba(0,0,0,0), black, rgba(0,0,0,0), slategrey); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(slategrey, rgba(0,0,0,0), black, rgba(0,0,0,0), slategrey); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(slategrey, rgba(0,0,0,0), black, rgba(0,0,0,0), slategrey); /* For Firefox 3.6 to 15 */
  background: linear-gradient(slategrey, rgba(112,128,144,0.5), slategrey); /* Standard syntax */
  width: 100%;
  float: left;
  height: 45px;
  border: none;
  border-radius: 12px;
  padding: 5px 15px;
  font-size: 14px;
  color: lightsteelblue;
  font-family: monospace;
  box-shadow: 2px 2px black;
  outline: none;
  margin-bottom: 10px;
}

div#lightPanel
{
  width: 100%;
  background: rgba(112, 128, 144, 0.5);
  float: left;
  padding: 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

div#customLight
{
  margin-top: 20px;
  text-align: center;
}

p#instructions
{
  color: orange;
}

button#setLight
{
  padding: 5px;
  width: 250px;
  max-width: 75%;
  margin-top: 10px;
  font-family: fantasy;
  font-size: 25px;
  color: orange;
  text-shadow: 1px 1px black;
  background-color: white;
  border: rgba(112, 128, 144, 0.5) 3px solid;
  border-radius: 12px;
}

/* default is one column for small screens */

@media only screen and (min-width: 500px)
{
  div#lightSwitches
  {
    width: 33%;
  }
  div#lightPanel
  {
    width: 60%;
    margin-top: 0px;
    min-height: 320px;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 800px)
{
  div#autoDescription
  {
    width: 50%;
    float: left;
  }
  div#customLight
  {
    width: 50%;
    float: left;
  }
}

/********************************* Footer *************************************/

div#footer
{
  display: inline-block;
  width: 100%;
  font-family: monospace;
  color: black;
  background: orange; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(blue, green); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(slategrey, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(slategrey, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(red, orange, orange, red); /* Standard syntax */
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

hr.footer
{
  height: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: black;
  border: 0 none;
}

div#bottomLine
{
  width: 100%;
  float: left;
}

div.footerColumn
{
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

div.logoColumn
{
  width: 100%;
  float: right;
  padding-top: 20px;
}

img#camosunLogo
{
  width: 150px;
}

h3.footer
{
  margin-top: 20px;
  margin-bottom: 0px;
}

p.footer
{
  margin-top: 0px;
}

/* default is one column for small screens */

@media only screen and (min-width: 500px) /* two columns */
{
  div.footerColumn
  {
    width: 50%;
  }
}

@media only screen and (min-width: 700px) /* three columns */
{
  div.logoColumn
  {
    width: 33%;
  }
  div.footerColumn
  {
    width: 33%;
  }
}
