* /* padding and border are included in total width and height of elements */
{
    box-sizing: border-box;
}

body
{
  background-color: black;
  font-family: sans-serif;
  font-size: 14;
  color: lightgrey;
  margin: 0px;
  padding: 0px;
}

/****************************** Header Styles *********************************/

div#header
{
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}

h1.title
{
  font-size: 35px;
  color: white;
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

p.subtitle
{
  font-size: 15px;
  color: slategrey;
  font-family: cursive;
  padding: 0px;
  margin: 0px;
}

img#logo
{
  width: 100px;
  padding-top: 10px;
}

/* default styles are for phone-sized screens; layout is responsive: */
@media only screen and (min-width: 600px) /* bigger than a phone */
{
  h1.title
  {
    font-size: 50px;
  }
  p.subtitle
  {
    font-size: 20px;
  }
  img#logo
  {
    width: 110px;
  }
}

/******************************** Navigation Bar ******************************/

div#navBar
{
  background-color: rgba(112, 128, 144, 0.5);
  width: 100%;
  text-align: center;
}

div.nav /*button*/
{
  background: slategrey; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(slategrey, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(slategrey, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(slategrey, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(slategrey, white); /* Standard syntax */
  color: black;
  font-family: sans-serif;
  font-size: 12px;
  padding: 5px;
  width: 27%;
  max-width: 150px;
  margin: 5px;
  display: inline-block;
}

div.navActive
{
  background: yellow; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(yellow, orange); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(yellow, orange); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(yellow, orange); /* For Firefox 3.6 to 15 */
  background: linear-gradient(yellow, orange, red); /* Standard syntax */
  color: black;
  font-family: sans-serif;
  font-size: 12px;
  padding: 5px;
  width: 27%;
  max-width: 150px;
  margin: 5px;
  display: inline-block;
}

/********************************** Content ***********************************/

div.content
{
  background: rgba(112, 128, 144, 0.5); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(112, 128, 144, 0.5), black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(112, 128, 144, 0.5), black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(112, 128, 144, 0.5), black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(112, 128, 144, 0.5), black); /* Standard syntax */
  padding: 20px;
  padding-top: 5px;
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 14px;
  color: lightsteelblue;
}

h1
{
  color: orange;
}

div.text
{
  display: inline-block;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

div.column
{
  width: 100%;
}

div.frame
{
  background: rgba(112, 128, 144, 0.5);
  padding: 20px;
  margin-bottom: 20px;
}

h2
{
  margin: 0px;
  padding-bottom: 10px;
  font-family: sans-serif;
  font-style: oblique;
  font-size: 25px;
  color: darkcyan;
  text-shadow: 1px 1px black;
}

img.profilePic
{
  width: 100%;
  max-width: 250px;
}

ul
{
  padding-left: 20px;
}

li
{
  padding-bottom: 5px;
}

@media only screen and (min-width: 600px) /* tablet-sized */
{
  div.column
  {
    width: 49%;
    float: left;
  }
  div.frame
  {
    margin-left: 5px;
  }
}

@media only screen and (min-width: 850px) /* full-screen */
{
  div#content
  {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/******************************* Bird Feeder **********************************/

div#hopperControls
{
  background: rgba(112, 128, 144, 0.5);
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

/************************************ Lamp ************************************/

div#lightSwitches
{
  width: 33%;
  float: left;
}

button.lightSwitch
{
  background: slategrey; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(slategrey, blue, green); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(slategrey, blue, green); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(slategrey, blue, green); /* For Firefox 3.6 to 15 */
  background: linear-gradient(slategrey, rgba(0,0,0,0), black, rgba(0,0,0,0), slategrey); /* Standard syntax */
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 12px;
  padding: 5px 15px;
  font-size: 14px;
  color: lightsteelblue;
  font-family: monospace;
  box-shadow: 2px 2px black;
  outline: none;
}

button.activeSwitch
{
  background: orange; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(blue, green); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(slategrey, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(slategrey, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(red, orange, red); /* Standard syntax */
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 12px;
  padding: 5px 15px;
  font-size: 14px;
  color: black;
  font-weight: bold;
  font-family: monospace;
  box-shadow: 2px 2px black;
  outline: none; /* so no outline shows up */
}

div#lightPanel
{
  width: 63%;
  background: rgba(112, 128, 144, 0.5);
  float: left;
  height: 350px;
  margin-left: 3%;
  padding: 15px;
}

/******************************** Signature ***********************************/

div#signature
{
  float: left;
  width: 100%;
  margin-top: 10px;
  padding: 0px;
  background: slategrey; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(slategrey, rgba(0, 0, 0, 0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(slategrey, rgba(0, 0, 0, 0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(slategrey, rgba(0, 0, 0, 0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(slategrey, rgba(0, 0, 0, 0)); /* Standard syntax */

}

hr.signature
{
  height: 3px;
  margin-top: 3px;
  margin-bottom: 0px;
  background-color: black;
  border: 0 none;
}

p.signature
{
  color: black;
  text-align: center;
  font-family: monospace;
  font-size: 13px;
  posiition: absolute;
  padding: 0px;
}

a.signature:link
{
  color: black;
  text-align: center;
  font-family: monospace;
  font-size: 13px;
  posiition: absolute;
  text-decoration: none;
}

a.signature:visited
{
  color: black;
  text-align: center;
  font-family: monospace;
  font-size: 13px;
  posiition: absolute;
  text-decoration: none;
}

svg#flower
{
  width: 103px; /* 103px */
  height: auto; /* 69px */
  position: absolute;
  padding: 3px;
}

g#orange
{
  visibility: hidden;
}

g#purple
{
  visibility: hidden;
}

g#green
{
  visibility: hidden;
}
